/* Had to extend Bootstrap api to constrain characters per line. And more pet peeves. */
@import url('./extended-bootstrap.scss') layer(bootstrap);

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local(InterVariable), local(Inter), url('../assets/InterVariable.woff2') format('woff2');
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local(InterVariable), local(Inter), url('../assets/InterVariable-Italic.woff2') format('woff2');
}
@font-face {
  font-family: MonaspaceNe;
  src: local(MonaspaceNe), url('../assets/MonaspaceNeonVar.woff2');
  font-weight: 100 900;
  font-display: swap;
}

:root, [data-bs-theme="light"] {
  --bs-emphasis-color-rgb: var(--dark-lighter-rgb);
  --bs-body-bg-rgb: var(--light-rgb);
  --bs-body-bg: var(--light);
  --bs-box-shadow-sm: 0px 0px var(--blur-m) 0px var(--subtle-50);
}

:root {
  --bs-font-sans-serif: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: MonaspaceNe, SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-nav-link-font-size: 1.25rem;

  --light-lighter-rgb: 242, 236, 255;
  --light-lighter: rgb(var(--light-lighter-rgb));
  --light-lighter-0: rgba(var(--light-lighter-rgb), 0);
  --light-lighter-50: rgba(var(--light-lighter-rgb), 0.5);
  --light-rgb: 233, 223, 255;
  --light: rgb(var(--light-rgb));
  --light-50: rgba(var(--light-rgb), 0.5);
  --light-darker-rgb: 210, 200, 231;
  --light-darker: rgb(var(--light-darker-rgb));
  --dark-rgb: 4, 2, 11;
  --dark: rgb(var(--dark));
  --dark-20: rgba(var(--dark-rgb), 0.2);
  --dark-10: rgba(var(--dark-rgb), 0.1);
  --dark-lighter-rgb: 24, 19, 34;
  --dark-lighter: rgb(var(--dark-lighter-rgb));
  --subtle-rgb:118, 112, 144;
  --subtle: rgb(var(--subtle-rgb));
  --subtle-50: rgba(var(--subtle-rgb), 0.5);
  --primary-rgb:121,64,226;
  --primary: rgb(var(--primary-rgb)); /* #7940e2 */
  --primary-50-on-white: #bda2f1;

  --blur-m: 0.5rem;
  --blur-m-neg: -0.5rem;
  --blur-l: 1rem;

  --blue-rgb: 0,0,255;
  --blue: rgb(var(--blue-rgb));
  --blue-10: rgba(var(--blue-rgb), 0.1);
  --blue-0: rgba(var(--blue-rgb), 0);

  --red-rgb: 255, 0, 0;
  --red: rgb(var(--red-rgb));
  --red-10: rgba(var(--red-rgb), 0.1);
  --red-0: rgba(var(--red-rgb), 0);

  --bs-white-rgb: var(--light-lighter-rgb);
  --bs-white: rgb(var(--bs-white-rgb));
  --bs-light-rgb: var(--light-rgb);
  --bs-light: rgb(var(--bs-light-rgb));
  --bs-primary-rgb: var(--primary-rgb);
  --bs-primary: var(--primary);
  --bs-primary-bg-subtle: var(--subtle);
  --bs-primary-border-subtle: var(--subtle);
  --bs-primary-text-emphasis: var(--primary);
  --bs-heading-color: var(--dark-lighter);

  --bs-border-width: 0.125rem;
  --bs-border-radius: 1rem;
  --bs-border-radius-lg: var(--bs-border-radius);
  --bs-border-color: var(--light-lighter);
}

.navbar-nav {
  --bs-nav-link-font-weight: 500;
}

.navbar {
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-padding-x: 1rem;
}

.backdrop-filter-blur {
  backdrop-filter: blur(calc(var(--blur-l) / 2));
}

.radial-gradients {
  background-image: radial-gradient(25% 50% at 100% 0%, var(--blue-10) 0%, var(--blue-0) 100%), radial-gradient(25% 50% at 0% 100%, var(--red-10) 0%, var(--red-0) 100%);
}

.btn {
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-font-size: 1.5rem;
  --bs-btn-font-weight: 600;
}

.bg-primary.bg-gradient {
  --bs-gradient: linear-gradient(180deg, var(--primary-50-on-white) 0%, var(--primary) 100%);
}

.btn-primary {
  --bs-btn-bg: none;
  --bs-btn-border-color: var(--light-lighter);
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: var(--bs-white);
  --bs-btn-focus-shadow-rgb: invalid;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: var(--bs-white);
  --bs-btn-active-shadow: invalid;
}

.card-img-overlay.bg-gradient {
  --bs-gradient: linear-gradient(180deg, var(--light-lighter) 0%, var(--light-lighter-0) 100%);
}

.card {
  --bs-card-bg: var(--light-lighter-50);
  --bs-card-border-width: 0;
}

.container, [class^='container-'], [class*=' container-'] {
  --bs-gutter-x: 2rem;
}

.list-group {
  --bs-list-group-color: var(--primary);
  --bs-list-group-bg: none;
  --bs-list-group-border-color: none;
  --bs-list-group-border-width: 0rem;
  --bs-list-group-border-radius: 0rem;
  --bs-list-group-item-padding-x: 0rem;
  --bs-list-group-item-padding-y: 0rem;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: block-axis;
}

.card-text {
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: block-axis;
  box-orient: block-axis;
}

.form-control::placeholder {
  --bs-secondary-color: var(--subtle);
}

.card-img {
  aspect-ratio: 1;
  background-repeat: repeat;
  object-fit: cover;
}

.linkedinLogo {
  @media (max-resolution: 2x) {
    background-image: url('../images/linkedin512.avif');
  }
  @media (max-resolution: 1x) {
    background-image: url('../images/linkedin256.avif');
  }

  background-image: url('../images/linkedin.avif');
}

.blueskyLogo {
  @media (max-resolution: 2x) {
    background-image: url('../images/bluesky512.avif');
  }

  @media (max-resolution: 1x) {
    background-image: url('../images/bluesky256.avif');
  }

  background-image: url('../images/bluesky.avif');
}

.dribbbleRender {
  @media (max-resolution: 2x) {
    background-image: url('../images/dribbble512.avif');
  }

  @media (max-resolution: 1x) {
    background-image: url('../images/dribbble256.avif');
  }

  background-image: url('../images/dribbble.avif');
}
